<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ExceptionMessageBox" version="11.0.5906.29906" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="ORM-Monitor" version="1.0.5906.30601" targetFramework="net461" />
</packages>