<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ExceptionMessageBox" version="11.0.5906.29906" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="ObjectListView.Official" version="2.9.0" targetFramework="net46" />
  <package id="ORM-Monitor" version="1.0.5906.30601" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="3.6.0" targetFramework="net461" />
</packages>