<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true" />
      <enable state="all" />
      <propagateException enabled="false" />
      <exceptionEventTracker time="20" />
      <debugMessageProcess enabled="true" />
    </baseSettings>

    <listeners>
      <listener name="Viewer" type="ReflectSoftware.Insight.ListenerViewer, ReflectSoftware.Insight" />
      <listener name="BinaryFile" type="ReflectSoftware.Insight.ListenerBinaryFile, ReflectSoftware.Insight" />
      <listener name="TextFile" type="ReflectSoftware.Insight.ListenerTextFile, ReflectSoftware.Insight" />
      <listener name="EventLog" type="ReflectSoftware.Insight.ListenerEventLog, ReflectSoftware.Insight" />
      <listener name="Console" type="ReflectSoftware.Insight.ListenerConsole, ReflectSoftware.Insight" />
      <listener name="Msmq" type="ReflectSoftware.Insight.ListenerMsmq, ReflectSoftware.Insight" />
      <!--
      <listener name="Email" type="ReflectSoftware.Insight.Listeners.ListenerEmail, ReflectSoftware.Insight.Listeners.Email"/>
      <listener name="Database.Sql" type="ReflectSoftware.Insight.Listeners.ListenerDatabaseSql, ReflectSoftware.Insight.Listeners.Database.Sql"/>
      <listener name="SNMP" type="ReflectSoftware.Insight.Listeners.ListenerSnmp, ReflectSoftware.Insight.Listeners.SNMP"/>
      -->
    </listeners>

    <emailDetails>
      <details name="emailDetails1">
        <IsHtml>True</IsHtml>
        <toAddresses>latency@bio-hazard.us</toAddresses>
        <ccAddresses></ccAddresses>
        <bccAddresses></bccAddresses>
        <subject>Application Alert: %message%</subject>
        <priority>High</priority>
        <body>
          <![CDATA[
          The following error was detected in application: '%application%'<br/><br/>          
          Message Type: %messagetype% 
			    Category:     %category% 
			    Computer:     %machine% 
			    Sender Id:    %senderid% 
			    Request Id:   %requestid% 
			    Process Id:   %processid% 
			    Thread Id:    %threadid% 
			    Domain Id:    %domainid% 
			    Application:  %application% 
			    User Domain:  %userdomain% 
			    Username:     %username%
          Timestamp:    %time% or %time{dd-MM-yyyy hh:mm:ss.fff}%
          <b>%message%</b><br/><br/>  
          <b>%details%</b><br/><br/>
          Please call technical support: 1-480-724-4283
          ]]>
        </body>
      </details>
    </emailDetails>

    <!-- Allowed RI field mapping (note: for security reasons, fields are parameterized to avoid sql injection attacks)
      *** Note: You can remove any field from the sql statements if not required. The only field that you cannot remove
      *** is the RILogId field from both the dbo.RIMessageExtension and dbo.RIMessageExtension tables.
      *** Message table
      [@]RILogId (required)
      [@]SequenceId
      [@]SessionId
      [@]RequestId
      [@]SourceUtcOffset
      [@]DateTime
      [@]DomainID
      [@]ProcessID
      [@]ThreadID
      [@]Category
      [@]Application
      [@]MachineName
      [@]UserDomainName
      [@]UserName
      [@]IndentLevel
      [@]BkColor
      [@]MessageType
      [@]MessageSubType
      [@]Message
      [@]DetailType
      [@]SubDetails
      [@]Details  
      [@]TextDetails
      
      *** Message Extension table
      [@]RILogId (required)
      [@]Caption
	    [@]ExtensionKey
	    [@]ExtensionValue
    -->
    <databaseDetails>
      <details name="databaseDetails1">
        <connectionStringName>ReflectInsight.Log</connectionStringName>
        <delayRetryOnDbIssue>60</delayRetryOnDbIssue>
        <sqlMessageIdentity>
          <![CDATA[     
            DECLARE @nextId BIGINT
            UPDATE dbo.RIID SET ID = (ID + [@]range), @nextId = ID + 1
            SELECT @nextId
          ]]>
        </sqlMessageIdentity>
        <sqlScriptMessage>
          <![CDATA[                    
          INSERT INTO dbo.RIMessage
          (            
             RILogId
            ,SessionId
            ,RequestId
            ,SourceUtcOffset
            ,DateTime
            ,DomainID
            ,ProcessID
            ,ThreadID
            ,Category
            ,Application
            ,MachineName
            ,UserDomainName
            ,UserName
            ,IndentLevel
            ,BkColor
            ,MessageType
            ,MessageSubType
            ,Message
            ,DetailType
            ,SubDetails
            ,Details
            ,TextDetails
          )
          VALUES
          (                        
             [@]RILogId
            ,[@]SessionId
            ,[@]RequestId
            ,[@]SourceUtcOffset
            ,[@]DateTime
            ,[@]DomainID
            ,[@]ProcessID
            ,[@]ThreadID
            ,[@]Category
            ,[@]Application
            ,[@]MachineName
            ,[@]UserDomainName
            ,[@]UserName
            ,[@]IndentLevel
            ,[@]BkColor
            ,[@]MessageType
            ,[@]MessageSubType
            ,[@]Message
            ,[@]DetailType
            ,[@]SubDetails
            ,[@]Details
            ,[@]TextDetails
          )                      
          ]]>
        </sqlScriptMessage>
        <sqlScriptMessageExtension>
          <![CDATA[                    
          INSERT INTO dbo.RIMessageExtension
          (
             RILogId
	          ,Caption
            ,ExtensionKey
	          ,ExtensionValue
          )
          VALUES
          (                        
             [@]RILogId
            ,[@]Caption
	          ,[@]ExtensionKey
	          ,[@]ExtensionValue
          ) 
          ]]>
        </sqlScriptMessageExtension>
      </details>
    </databaseDetails>

    <files default="">
      <autoSave name="save1" onNewDay="true" onMsgLimit="500000" recycleFilesEvery="30" />
    </files>

    <messagePatterns>
      <messagePattern name="pattern1"
                      pattern="[%time(yyyyMMdd, MM:mm:ss.fff)%][%requestid%][%messagetype%] - %message%" />
    </messagePatterns>

    <listenerGroups active="Active">
      <group name="Active" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" filter="" details="Viewer" />
          <destination name="BinaryFile" enabled="true" filter=""
                       details="BinaryFile[path=$(workingdir)\Log\InsightLog.rlg; autoSave=save1]" />
          <destination name="Console" enabled="true" filter=""
                       details="Console[messageDetails=Message|Details; messagePattern=pattern1; colored=true]" />
          <destination name="TextFile" enabled="true" filter="ErrorWarningFilter"
                       details="TextFile[path=$(workingdir)\Log\ErrorLog.txt; messageDetails=Message|Details; messagePattern=pattern1; autoSave=save1]" />
          <!--
          <destination name="Email" enabled="true" filter="ErrorWarningFilter" details="Email[details=emailDetails1]"/>
          <destination name="Database.Sql" enabled="false" filter="" details="Database.Sql[details=databaseDetails1]"/>
          -->
        </destinations>
      </group>
    </listenerGroups>

    <!--
	/*** String ID's for MessageTypes, Checkpoints, Checkmarks and LevelTypes
	AddCheckpoint ==> all check points
	AddCheckpointRed
	AddCheckpointOrange
	AddCheckpointYellow
	AddCheckpointGreen
	AddCheckpointBlue
	AddCheckpointPurple

	SendCheckmark ==> all checkmarks 
	SendCheckmarkRed
	SendCheckmarkOrange
	SendCheckmarkYellow
	SendCheckmarkGreen
	SendCheckmarkBlue
	SendCheckmarkPurple
	
	SendLevel ==> all level types
	SendLevelRed
	SendLevelOrange
	SendLevelYellow
	SendLevelGreen
	SendLevelBlue
	SendLevelCyan
	SendLevelPurple
	SendLevelMagenta
							
    SendMessage
    SendNote
    SendInformation        
    SendWarning
    SendError
    SendFatal
    SendMiniDumpFile
    SendDebug
    SendTrace
    SendStart
    SendStop
    SendSuspend
    SendResume
    SendTransfer
    SendVerbose  
    SendReminder
    SendTextFile
    SendXML
    SendHTML
    SendSQL
    SendGeneration
    SendSerializedObject
    SendException
    SendDateTime
    SendTimestamp
    SendCurrency
    SendPoint
    SendRectangle
    SendSize        
    SendAssert
    SendAssigned
    SendStackTrace
    SendAuditSuccess
    SendAuditFailure
    SendInternalError
    SendComment
    SendEnum
    SendBoolean
    SendByte
    SendChar
    SendDecimal
    SendDouble
    SendSingle
    SendInteger
    SendString
    SendLinqQuery
    SendImage
    SendStream
    SendMemory
    SendMemoryStatus        
    SendObject
    SendColor
    SendAttachment
    SendLoadedAssemblies
    SendCollection
    SendProcessInformation
    SendAppDomainInformation
    SendThreadInformation
    SendSystemInformation
    SendCustomData
    SendDataSet
    SendDataTable
    SendDataView
    SendDataSetSchema
    SendDataTableSchema
    SendHttpModuleInformation
    SendLinqResults
    SendLoadedProcesses
    SendDesktopImage  
	-->
    <filters>
      <filter name="ErrorWarningFilter" mode="Include">
        <method type="SendError" />
        <method type="SendException" />
        <method type="SendFatal" />
      </filter>
    </filters>

    <logManager default="common">
      <instance name="common" category="Common" />
      <instance name="log4netInstance1" category="Log4net1" bkColor="Owner" />
    </logManager>
  </insightSettings>
</configuration>